<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="python" path="app.py" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\python364x86\python.exe|D:\home\site\wwwroot\app.py" resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="StaticFiles" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="." />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
